/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.4s; // For animation dark mode
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.1rem;
    transition: 0.3s;

    &:hover {
      color: var(--first-color);
    }

    &-icon {
      font-size: 1.15rem;
      color: var(--first-color);
      &-span {
        color: var(--first-color-light);
      }
    }
  }
}
