/*=============== HOME ===============*/
.home {
  padding: 3.5rem 0 2rem;

  &__container {
    position: relative;
    row-gap: 2rem;
  }
  &__title {
    font-size: var(--big-font-size);
    line-height: 110%;
    margin-bottom: var(--mb-1);
    text-transform: uppercase;
    &-span {
      color: var(--first-color-light);
    }
  }
  &__description {
    margin-bottom: var(--mb-2-5);
    color: var(--text-color);
  }
}
