/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 1rem 0;

  &__title,
  &__title-center {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    line-height: 140%;

    &-center {
      text-align: center;
    }
  }
}

.container {
  // max-width: 968px;
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; // For animation
}
